<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penn State Men's Volleyball</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 

</head>
<body>
    <header>
        <div class="logo-container">
           <a href="/home">
           <img src="static/penn state pictures/psu_logo.png" alt="PSU Logo" class="logo">
           </a>
           <h1>Penn State Men's Volleyball Data</h1>
        </div>
        <nav>
           <ul class="tabs">
              <li class="dropdown-container">
                 <button>Team</button>
                 <ul class="dropdown-menu">
                    <li> <a href="/team_strength">Strength and Conditioning</a> </li>
                    <li> <a href="/team_oncourt">On-Court Performance</a> </li>
                 </ul>
              </li>
              <li class="dropdown-container">
                 <button>Individual</button>
                 <ul class="dropdown-menu">
                    <li>
                       <a href="/player_strength">Strength and Conditioning</a>
                    </li>
                    <li>
                       <a href="/player_oncourt">On-Court Performance</a>
                    </li>
                 </ul>
              </li>
           </ul>
        </nav>
     </header>
    <main>
        <div class="highlight">
            <img src="static/homepage/EIVA_win.png" alt="EIVA Win">
        </div>
        <div class="upcoming-events-title">Upcoming Events</div>
        <div class="events-container">
            <div class="event-card">
                <h3>FRI, JANUARY 10TH, 2025</h3>
                <img src="static/homepage/opponent logo/loyola_logo.png" alt="Loyola Logo">
                <p><strong>Penn State vs. Loyola Chicago</strong></p>
                <p>7:00 PM CST</p>
                <p>Chicago, IL</p>
            </div>
            <div class="event-card">
                <h3>SAT, JANUARY 11TH, 2025</h3>
                <img src="static/homepage/opponent logo/lewis_logo.png" alt="Lewis Logo">
                <p><strong>Penn State vs. Lewis</strong></p>
                <p>7:00 PM CST</p>
                <p>Romeoville, IL</p>
            </div>
            <div class="event-card">
                <h3>FRI, JANUARY 17TH, 2025</h3>
                <img src="static/homepage/opponent logo/fpc_logo.png" alt="First Point Logo">
                <p><strong>First Point Challenge</strong></p>
                <p>Austin, TX</p>
            </div>
            <div class="event-card">
                <h3>SAT, JANUARY 18TH, 2025</h3>
                <img src="static/homepage/opponent logo/fpc_logo.png" alt="First Point Logo">
                <p><strong>First Point Challenge</strong></p>
                <p>Austin, TX</p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Penn State Men's Volleyball. All Rights Reserved.</p>
    </footer>
</body>
</html>